@font-face {
  font-family: 'icomoon';
  src:  url('../../../fonts/icomoon.eot?jkp7ax');
  src:  url('../../../fonts/icomoon.eot?jkp7ax#iefix') format('embedded-opentype'),
    url('../../../fonts/icomoon.ttf?jkp7ax') format('truetype'),
    url('../../../fonts/icomoon.woff?jkp7ax') format('woff'),
    url('../../../fonts/icomoon.svg?jkp7ax#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa-filter:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f061";
}

.fa-search:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f02e";
}

.fa-sitemap:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f096";
}

.fa-building-o:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0c4";
}

.fa-users:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f016";
}

body,
.account-masthead,
.masthead,
[role="main"],
.main,
.site-footer {
  background-image: none;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  background-color: #FFF;
  color: rgb(102, 102, 102);
  overflow-x: hidden;
  font-size: 15px;
}

[role="main"],
.main {
  padding: 0;
  min-height:0;
}

[role="main"] > .container > .wrapper {
  margin-bottom: 0;
}

@media (min-width: 768px) {

  .module-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.box {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

code {
  color: inherit;
}

input,
button,
select,
textarea {
  font-family: 'Lato', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(51, 51, 51);
}

a {
  color: #0072BC
}

a:hover {
  color: #0072BC;
}

.btn {
  background-image: none;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #FFF;
  color: rgb(51, 51, 51);
  border-color: rgb(204, 204, 204);
}

.btn:hover,
  .btn:focus,
  .btn:active,
  .btn.active,
  .btn.disabled,
  .btn[disabled] {
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  border-color: rgb(204, 204, 204);
}

.btn-primary {
  background-color: #0072BC;
  color: #fff;
  border-color: #0072BC;
}

.btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .btn-primary.disabled,
  .btn-primary[disabled] {
  background-color: rgb(51, 142, 201);
  color: #fff;
  border-color: #0072BC;
}

.btn-success {
  background-color: #FAEB00;
  color: #000;
  border-color: #FAEB00;
}

.btn-success:hover,
  .btn-success:focus,
  .btn-success:active,
  .btn-success.active,
  .btn-success.disabled,
  .btn-success[disabled] {
  background-color: rgb(251, 239, 51);
  color: #000;
  border-color: #FAEB00;
}

.btn-info {
  background-color: #0072BC;
  color: #fff;
  border-color: #0072BC;
}

.btn-info:hover,
  .btn-info:focus,
  .btn-info:active,
  .btn-info.active,
  .btn-info.disabled,
  .btn-info[disabled] {
  background-color: rgb(51, 142, 201);
  color: #fff;
  border-color: #0072BC;
}

.btn-warning {
  background-color: #FAEB00;
  color: #000;
  border-color: #FAEB00;
}

.btn-warning:hover,
  .btn-warning:focus,
  .btn-warning:active,
  .btn-warning.active,
  .btn-warning.disabled,
  .btn-warning[disabled] {
  background-color: rgb(251, 239, 51);
  color: #000;
  border-color: #FAEB00;
}

.btn-danger {
  background-color: rgb(51, 51, 51);
  color: #fff;
  border-color: rgb(51, 51, 51);
}

.btn-danger:hover,
  .btn-danger:focus,
  .btn-danger:active,
  .btn-danger.active,
  .btn-danger.disabled,
  .btn-danger[disabled] {
  background-color: rgb(92, 92, 92);
  color: #fff;
  border-color: rgb(51, 51, 51);
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: rgb(51, 142, 201);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: rgb(51, 142, 201);
  background-image: none;
}

.nav-item.active > a span,
.nav-aside li.active a span {
  display: inline;
  overflow: inherit
}

.nav-item.active > a span.badge, .nav-aside li.active a span.badge {
  display: inline-block;
}

.nav-item.active > a span.hidden, .nav-aside li.active a span.hidden {
  display: none;
}

@media (min-width: 768px) {

  .navbar .container {
    width: 724px;
  }
}

@media (min-width: 980px) {

  .navbar .container {
    width: 940px;
  }
}

.navbar .nav > .active > a,
    .navbar .nav > .active > a:hover,
    .navbar .nav > .active > a:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.wrapper {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-image: none;
  border-radius: 0;
  border: none;
  background-color: transparent;
}

.label,
.badge {
  text-shadow: none;
  font-weight: normal;
}

.account-masthead .account .notifications a:hover span.text {
  background-color: transparent;
}

a.tag:hover {
  background-color: #0072BC;
  border-color: #0072BC;
}

body {
  /* for IE */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

[role="main"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1
}

[role="main"] > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

[role="main"] > .container > .wrapper {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.account-masthead,
.masthead {
  background-color: #0072BC;
}

@media (min-width: 980px) {

  .account-masthead,
.masthead {
    background-color: #FFF;
  }
}

.account-masthead .account ul li {
  border-left-color: rgba(255,255,255,0.2);
}

.account-masthead .account ul li a,
    .account-masthead .account ul li a.sub {
  font-weight: normal;
}

@media (min-width: 980px) {

  .account-masthead {
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: transparent;
    pointer-events: none;
  }

  .account-masthead .account,
    .account-masthead .account.authed {
    pointer-events: auto;
    margin-top: 20px;
    position: relative;
  }

  .account-masthead .account::before, .account-masthead .account.authed::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f02f";
    color: rgb(51, 51, 51);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 10px 0;
    height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 26px;
    cursor: pointer;
  }

  .account-masthead .account.active > ul, .account-masthead .account.authed.active > ul {
    display: block;
  }

  .account-masthead .account ul, .account-masthead .account.authed ul {
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #FFF;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0.5em 0;
    display: none;
  }

  .account-masthead .account ul li, .account-masthead .account.authed ul li {
    float: none;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-width: 1px 0 0 0;
  }

  .account-masthead .account ul li a, .account-masthead .account.authed ul li a {
    color: rgb(102, 102, 102);
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.1em 1em;
  }

  .account-masthead .account ul li a.image, .account-masthead .account.authed ul li a.image {
    padding: 0.1em 1em;
  }

  .account-masthead .account ul li a span.text, .account-masthead .account.authed ul li a span.text {
    position: static;
  }

  .account-masthead .account ul li a .fa,
            .account-masthead .account ul li a .gravatar,
            .account-masthead .account.authed ul li a .fa,
            .account-masthead .account.authed ul li a .gravatar {
    display: none;
  }

  .account-masthead .account ul li a:hover, .account-masthead .account.authed ul li a:hover {
    background-color: rgb(51, 142, 201);
    color: #FFF;
  }

  .account-masthead .account ul li:first-child, .account-masthead .account.authed ul li:first-child {
    border: none;
  }

  .account-masthead .account ul li.notifications a span.badge, .account-masthead .account.authed ul li.notifications a span.badge {
    height: 1em;
    min-width: 1em;
    text-align: center;
    padding: 0.2em;
    border-radius: 1px;
    display: none;
  }

  .account-masthead .account ul li.notifications.notifications-important a span.badge, .account-masthead .account.authed ul li.notifications.notifications-important a span.badge {
    background-color: #FAEB00;
    color: rgb(51, 51, 51);
    display: inline-block;
  }

  .account-masthead .account.authed::before {
    content: "\f018";
  }
}

.masthead {
  color: #FFF;
}

@media (min-width: 980px) {

  .masthead {
    color: rgb(51, 51, 51);
  }
}

.masthead .btn-navbar,
  .masthead .btn-navbar:hover,
  .masthead .btn-navbar:focus {
  background-color: #0072BC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 32px;
  height: 32px;
  padding: 5px;
  margin: 16px 0;
  outline: none;
}

.masthead .btn-navbar .fa-bar, .masthead .btn-navbar:hover .fa-bar, .masthead .btn-navbar:focus .fa-bar {
  background-color: #FFF;
  height: 4px;
  width: 22px;
}

@media (min-width: 980px) {

  .masthead .btn-navbar,
  .masthead .btn-navbar:hover,
  .masthead .btn-navbar:focus {
    display: none;
  }
}

.masthead .container {
  z-index: 1;
}

.masthead .nav > li > a {
  color: inherit;
}

.masthead .nav > li > a::before {
  margin-right: 0.3em;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f011";
}

.masthead .nav > li > a[href="/dataset"]::before {
  content: "\f096";
}

.masthead .nav > li > a[href="/organization"]::before, .masthead .nav > li > a[href="/data-container"]::before {
  content: "\f0c4";
}

.masthead .nav > li > a[href="/group"]::before {
  content: "\f016";
}

@media (min-width: 980px) {

  .masthead .nav > li > a {
    font-size: 16px;
    padding: 5px 20px;
    height: 40px;
    border: solid 1px rgb(204, 204, 204);
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .masthead .nav > li > a::before {
    font-size: 28px;
  }
}

.masthead .navigation .nav-pills li.active a,
  .masthead .navigation .nav-pills li.active a:hover {
  background-color: #FFF;
  color: #0072BC;
  border-color: #0072BC;
}

@media (min-width: 980px) {

  .masthead .navigation .nav-pills li.active a,
  .masthead .navigation .nav-pills li.active a:hover {
    background-color: #0072BC;
    color: #FFF;
  }
}

.masthead .navigation .nav-pills li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (min-width: 980px) {

  .masthead .navigation .nav-pills li a:hover {
    background-color: rgb(51, 142, 201);
    border-color: rgb(51, 142, 201);
  }
}

.masthead .nav-collapse {
  padding: 0;
}

@media (min-width: 980px) {

  .masthead .nav-collapse {
    background-color: #FFF;
    width: 700px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.masthead .site-search {
  display: none;
}

.masthead hgroup h1 {
  margin: 0;
  line-height: 100px;
}

.masthead hgroup h1 a {
  color: #FFF;
  text-decoration: none;
}

.masthead .logo,
  .masthead h1 {
  background-color: #0072BC;
  height: 100px;
}

.masthead .logo img, .masthead h1 img {
  display: block;
  height: 40px;
  margin-top: 10px;
}

@media (min-width: 980px) {

  .masthead .logo::before, .masthead h1::before {
    content: '';
    position: absolute;
    background-color: #0072BC;
    width: 50vw;
    height: 100px;
    right: 50%;
    z-index: -1;
  }

  .masthead .logo img, .masthead h1 img {
    margin-top: 27px;
  }
}

@media (min-width: 980px) {

  html:not(.js) .account:hover > ul {
    display: block;
  }
}

@media (min-width: 980px) {

  .resource-read .account-masthead .account::before, .home .account-masthead .account::before {
    color: #fff;
  }

  .resource-read .masthead .nav-collapse, .home .masthead .nav-collapse {
    background-color: #0072BC;
  }

  .resource-read .masthead .logo::after, .resource-read .masthead h1::after, .home .masthead .logo::after, .home .masthead h1::after {
    content: '';
    position: absolute;
    background-color: #0072BC;
    width: 50vw;
    height: 100px;
    left: 50%;
    top: 0;
    z-index: -1;
  }

  .resource-read .masthead .nav > li > a, .home .masthead .nav > li > a {
    color: #fff;
    border-color: #fff;
  }

  .resource-read .masthead .nav > li.active a, .home .masthead .nav > li.active a {
    background-color: #fff;
    color: #0072BC;
  }
}

[role=main] {
  background-color: #FFF
}

[role=main] .pill {
  background-color: rgb(51, 51, 51);
}

[role=main] .pill.filtered {
  border-right: solid 24px rgb(102, 102, 102);
  position: relative;
}

[role=main] .pill.filtered a.remove {
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 1px;
  right: -24px;
  width: 20px;
  text-align: center;
  padding-right: 4px;
}

[role=main] .toolbar {
  padding: 0;
  margin: 0;
}

[role=main] .toolbar .breadcrumb {
  display: none;
}

@media (min-width: 980px) {

  [role=main] > .container > .wrapper .module-resource {
    position: relative;
    border: none;
  }

  [role=main] > .container > .wrapper .module-resource::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    z-index: -1;
    background-color: #fff;
  }
}

[role=main] .wrapper {
  position: relative;
  z-index: 1;
  padding-bottom: 70px;
}

[role=main] .wrapper.no-nav .page-header {
  background-color: #FFF;
  margin-top: 20px;
}

@media (min-width: 980px) {

  [role=main] .wrapper:not(.no-nav)::before {
    content: '';
    position: absolute;
    background-color: #0072BC;
    width: 50vw;
    top: 0;
    bottom: 0;
    right: 700px;
    z-index: -1;
    display: block;
  }
}

[role=main] h1 {
  font-size: 38px;
  color: #0072BC;
}

[role=main] h2 {
  font-size: 19px;
}

[role=main] .search-form h2 {
  color: rgb(51, 51, 51);
}

[role=main] .search-form .search-input.search-giant .search {
  height: 54px;
}

[role=main] .search-form .search-input.search-giant button {
  top: auto;
  bottom: 10px;
}

[role=main] .search-form .search-input.search-giant button i {
  color: rgb(102, 102, 102);
}

[role=main] .dataset-heading {
  font-size: 19px;
}

[role=main] .dataset-heading a {
  color: rgb(51, 51, 51);
}

[role=main] .dataset-resources .label {
  height: 32px;
  min-width: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0.5em 0.5em 0 0;
  font-size: 11px;
  background-color: rgb(153, 153, 153);
  border-radius: 0;
}

[role=main] .primary .module-content {
  background-color: #FFF;
}

@media (min-width: 980px) {

  [role=main] .primary {
    width: 675px;
  }

  [role=main] .primary .page-header {
    margin-left: 0;
  }

  [role=main] .primary .module-content {
    padding-left: 5px;
    padding-right: 0;
  }
}

[role=main] .secondary {
  font-size: 14px;
}

[role=main] .secondary hr {
  border-top-color: rgba(255, 255, 255, 0.2);
  border-bottom: none;
}

[role=main] .secondary .nav-item {
  border-bottom-style: solid;
}

[role=main] .secondary .nav-item:not(.active) > a:hover::after {
  display: none;
}

[role=main] .secondary .nav-item.active > a {
  background-color: #0072BC;
}

[role=main] .secondary .nav-item.active > a::before {
  background-image: none;
}

[role=main] .secondary .module-heading {
  font-size: 16px;
}

[role=main] .secondary .module-footer {
  border-top-style: solid;
}

[role=main] .secondary .image {
  display: none;
}

[role=main] .secondary .badge {
  font-size: 11px;
  margin-left: 0.5em;
}

@media (min-width: 980px) {

  [role=main] .secondary {
    background-color: #0072BC;
    color: #FFF;
    width: 240px;
  }

  [role=main] .secondary h1,
      [role=main] .secondary h2,
      [role=main] .secondary h3,
      [role=main] .secondary h4,
      [role=main] .secondary h5,
      [role=main] .secondary h6,
      [role=main] .secondary a:not(.btn) {
    color: #FFF;
  }

  [role=main] .secondary .label,
      [role=main] .secondary .badge {
    background-color: rgb(102, 170, 215);
  }

  [role=main] .secondary .gravatar {
    border: solid 4px #fff;
  }

  [role=main] .secondary .empty {
    color: rgba(255, 255, 255, 0.4);
  }

  [role=main] .secondary .context-info .module-content {
    padding-left: 0;
    padding-right: 0;
  }

  [role=main] .secondary .context-info .module-content .heading,
          [role=main] .secondary .context-info .module-content p {
    padding-right: 20px;
  }

  [role=main] .secondary .module-heading {
    background-color: #0072BC;
    color: #FFF;
    border-color: rgba(255, 255, 255, 0.2);
  }

  [role=main] .secondary .module-heading .fa {
    width: 1em;
    margin-left: -1.2em;
  }

  [role=main] .secondary .nums {
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.2);
  }

  [role=main] .secondary .nums dl {
    color: #FFF;
  }

  [role=main] .secondary .nav-item {
    border-color: rgba(255, 255, 255, 0.2);
  }

  [role=main] .secondary .nav-item > a {
    color: #FFF;
  }

  [role=main] .secondary .nav-item > a:hover {
    background-color: rgba(255,255,255,0.2);
  }

  [role=main] .secondary .nav-item.active {
    border-bottom: solid 1px rgb(0, 103, 169);
    margin-top: -1px;
  }

  [role=main] .secondary .nav-item.active > a {
    background-color: #FFF;
    color: #0072BC;
    border-top: solid 1px #FFF;
  }

  [role=main] .secondary .nav-item.active > a:after {
    width: 16px;
    height: 16px;
    background-color: #0072BC;
    background-image: url(../../../remove.png);
    background-size: 16px 16px;
    background-position: center;
    right: 10px;
  }

  [role=main] .secondary .module-footer {
    border-color: rgba(255, 255, 255, 0.2);
  }

  [role=main] .secondary .image {
    display: block;
  }
}

.media-grid {
  background: none;
  border: none
}

.media-grid .media-item {
  width: 183px;
}

.media-grid .media-image {
  background-color: rgb(204, 204, 204);
}

@media (min-width: 980px) {

  .media-grid {
    margin:0 0 0 -15px;
  }
}

.stages {
  color: #fff;
  margin: -20px 0 20px 0
}

.stages li {
  background-color: rgb(102, 170, 215);
}

.stages li:before {
  background-color: #fff;
  color: rgb(102, 170, 215);
}

.stages li:after {
  border-top-color: rgb(102, 170, 215);
  border-bottom-color: rgb(102, 170, 215);
}

.stages li.active:after {
  border-top-color: rgb(51, 142, 201);
  border-bottom-color: rgb(51, 142, 201);
}

.stages li.active:before {
  color: rgb(51, 142, 201);
}

.stages li.active .highlight {
  background: rgb(51, 142, 201);
}

.stages li.complete:after {
  border-top-color: #0072BC;
  border-bottom-color: #0072BC;
}

.stages li.complete:before {
  color: #0072BC;
  background: #fff;
}

.stages li.complete .highlight {
  color: #eef6ed;
  background: #0072BC;
}

.homepage {
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #0072BC;
  color: #FFF
}

.homepage [role="main"] > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.homepage .module-search {
  padding: 0;
  margin: 5vh 0;
}

.homepage .module-search .search-giant {
  margin: 0;
}

.homepage .module-search .search-giant input {
  border-color: #FFF;
}

.homepage .module-search .module-content {
  background-color: #0072BC;
}

.homepage .module-search .tags {
  background-color: #0072BC;
}

.homepage .module-search .tags .tag {
  background-color: #FFF;
  border-color: #FFF;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.homepage .module-search .tags .tag:hover {
  background-color: rgb(51, 51, 51);
  border-color: rgb(51, 51, 51);
}

.homepage h2 {
  font-size: 22px;
}

.homepage p {
  font-size: 18px;
  line-height: 1.4;
}

.homepage .hero {
  background-color: #0072BC;
  color: #FFF;
  padding-top: 0;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.homepage .hero h1,
    .homepage .hero h2,
    .homepage .hero h3,
    .homepage .hero a:not(.btn) {
  color: inherit;
  font-weight: normal;
}

.homepage .hero .search-form {
  padding: 0;
}

.homepage .hero .search-form .search-input.search-giant button i {
  color: #0072BC;
}

.homepage .hero .tags {
  padding: 15px 0;
}

.homepage .hero .tags .tag:not(:hover) {
  color: #0072BC;
}

.homepage .featured.media-overlay {}

.flash-messages {
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0
}

.flash-messages .alert {
  border-radius: 0;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.3);
}

.flash-messages .alert .close {
  text-shadow: none;
}

.flash-messages .alert.alert-success,
    .flash-messages .alert.alert-info {
  background-color: #FAEB00;
  color: rgb(51, 51, 51);
}

.flash-messages .alert.alert-danger,
    .flash-messages .alert.alert-error {
  background-color: rgb(51, 51, 51);
  color: #fff;
}

.flash-messages .alert.alert-danger .close, .flash-messages .alert.alert-error .close {
  color: #fff;
}

.site-footer {
  background-color: #000;
  color: rgba(255,255,255, 0.8);
  margin-left: -20px;
  margin-right: -20px;
  padding: 0;
  position: relative;
  min-height: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.site-footer .attribution {
  position: absolute;
  bottom: 15px;
  left: 25px;
  z-index: 1;
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 10px;
}

@media (min-width: 768px) {

  .site-footer .attribution {
    left: 0;
  }
}

.site-footer .attribution span {
  display: block;
  font-size: 12px;
  line-height: 1;
}

.site-footer .attribution .ckan-footer-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  opacity: 0.8;
}

.site-footer .attribution .ckan-footer-logo:hover {
  opacity: 1;
}

.format-label {
  background-size: auto 93px;
  width:  37.38318px;
  height: 40px;
  background-position: -1005px -11px
}

.format-label[data-format=rdf],
  .format-label[data-format*=rdf] {
  width:  37.38318px;
  height: 40px;
  background-position: -695px -11px;
}

.format-label[data-format=pdf],
  .format-label[data-format*=pdf] {
  width:  37.38318px;
  height: 40px;
  background-position: -633px -11px;
}

.format-label[data-format=api],
  .format-label[data-format*=api] {
  width:  37.38318px;
  height: 40px;
  background-position: -571px -11px;
}

.format-label[data-format=zip],
  .format-label[data-format*=zip] {
  width:  37.38318px;
  height: 40px;
  background-position: -509px -11px;
}

.format-label[data-format=xls],
  .format-label[data-format*=xls] {
  width:  37.38318px;
  height: 40px;
  background-position: -447px -11px;
}

.format-label[data-format=csv],
  .format-label[data-format*=csv] {
  width:  37.38318px;
  height: 40px;
  background-position: -385px -11px;
}

.format-label[data-format=txt],
  .format-label[data-format*=txt] {
  width:  37.38318px;
  height: 40px;
  background-position: -199px -11px;
}

.format-label[data-format=xml],
  .format-label[data-format*=xml] {
  width:  37.38318px;
  height: 40px;
  background-position: -137px -11px;
}

.format-label[data-format=json],
  .format-label[data-format*=json] {
  width:  37.38318px;
  height: 40px;
  background-position: -75px -11px;
}

.format-label[data-format=html],
  .format-label[data-format*=html] {
  width:  37.38318px;
  height: 40px;
  background-position: -13px -11px;
}

.dropdown.heading {
  margin-bottom: 20px;
}

.dropdown.heading .dropdown-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.dropdown.heading .dropdown-toggle .caret {
  border-top-color: currentColor;
}

.dropdown.heading .dropdown-toggle span .caret {
  margin-top: 0.5em;
  margin-left: 0.5em;
  border-top-width: 0.4em;
  border-right-width: 0.4em;
  border-left-width: 0.4em;
}

.dropdown.heading .page-heading {
  margin-bottom: 0;
}

.dropdown-menu .module {
  margin: 0;
}

.dropdown-menu .module .module-heading {
  display: none;
}

.dropdown-menu .module li {
  display: block;
  margin: 0;
}

.dropdown-menu .module .nav-item.active > a {
  background-color: rgb(51, 142, 201);
}

.dropdown-menu .module .nav-item.active > a:before {
  display: none;
}

.actions .dropdown-menu {
  left: auto;
  right: 0;
}

.module-resource .actions {
  top: 10px;
  right: auto;
  float: none;
  margin-bottom: 20px;
}

@media (min-width: 768px) {

  .module-resource .actions {
    float: right;
  }
}

.module-resource .actions ul {
  padding: 0;
  margin: 0;
}

.module-resource + .primary {
  width: auto;
}

@media (min-width: 768px) {

  .module-resource + .primary .module-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.module-resource + .primary + .secondary {
  width: auto;
}

.resource-read [role=main] .wrapper::before {
  display: none;
}

ul.hierarchy-tree-top li.highlighted > a, ul.hierarchy-tree li.highlighted > a {
  text-shadow: none;
  font-weight: normal;
  background-color: #0072BC;
  border-color: #0072BC;
  color: #FFF;
}

ul.hierarchy-tree-top li.highlighted > a:hover,
    ul.hierarchy-tree-top li.highlighted > a:focus,
    ul.hierarchy-tree li.highlighted > a:hover,
    ul.hierarchy-tree li.highlighted > a:focus {
  background-color: #0072BC;
  color: #FFF;
}

.secondary ul.hierarchy-tree-top > li a, .secondary ul.hierarchy-tree > li a {
  color: rgba(255, 255, 255, 0.8);
}

.secondary ul.hierarchy-tree-top > li.highlighted > a, .secondary ul.hierarchy-tree > li.highlighted > a {
  color: #0072BC;
  background-color: #fff;
  border-color: #fff;
}

ul.hierarchy-tree {
  background: none;
  background-image: url(../../hierarchy/images/vline.png);
  background-repeat: repeat-y
}

ul.hierarchy-tree li {
  background: none;
  background-image: url(../../hierarchy/images/node.png);
  background-repeat: no-repeat;
}

ul.hierarchy-tree li:last-child {
  background: none;
  background-image: url(../../hierarchy/images/lastnode.png);
  background-repeat: no-repeat;
  background-color: #FFF;
}

.secondary ul.hierarchy-tree li:last-child {
  background-color: #0072BC;
}

ul.hierarchy-tree-top {
  margin: 0
}

.secondary ul.hierarchy-tree-top {
  padding-right: 20px;
  mix-blend-mode: luminosity;
}

ul.hierarchy-tree-top li {
  display: block;
  padding-right: 0;
}

ul.hierarchy-tree-top li a {
  background-color: #FFF;
  margin-top: 4px;
  color: rgb(102, 102, 102);
  -webkit-box-shadow: 0px -4px 0px 0px #FFF;
  box-shadow: 0px -4px 0px 0px #FFF;
  border: solid 1px rgb(204, 204, 204);
  border-radius: 3px;
  padding: 0.4em;
  display: block;
}

ul.hierarchy-tree-top li a:hover,
      ul.hierarchy-tree-top li a:focus {
  background-color: rgb(204, 227, 242);
  text-decoration: none;
}

.secondary ul.hierarchy-tree-top li a {
  background-color: rgb(51, 142, 201);
  -webkit-box-shadow: 0px -4px 0px 0px #0072BC;
  box-shadow: 0px -4px 0px 0px #0072BC;
  border-color: rgb(51, 142, 201);
}

ul.hierarchy-tree-top.has-toggle a {
  padding-left: 2.5em;
}

ul.hierarchy-tree-top.has-toggle .hierarchy-toggle {
  background: none;
  border: none;
  padding: 0.5em 0.6em 0.4em 0.6em;
  outline: none;
  float: left;
  margin: 1px 0 0 1px;
  line-height: 1;
}

ul.hierarchy-tree-top.has-toggle .hierarchy-toggle span {
  display: none;
}

ul.hierarchy-tree-top.has-toggle .hierarchy-toggle::before {
  font-size: 1.3em;
}

ul.hierarchy-tree-top.has-toggle .closed > .hierarchy-toggle::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f06b";
  color: rgb(102, 102, 102);
}

.secondary ul.hierarchy-tree-top.has-toggle .closed > .hierarchy-toggle::before {
  color: #fff;
}

ul.hierarchy-tree-top.has-toggle .closed > .hierarchy-toggle:hover::before {
  color: #0072BC;
}

.secondary ul.hierarchy-tree-top.has-toggle .closed > .hierarchy-toggle:hover::before {
  color: #fff;
}

ul.hierarchy-tree-top.has-toggle .closed.highlighted > .hierarchy-toggle::before {
  color: #fff;
}

.secondary ul.hierarchy-tree-top.has-toggle .closed.highlighted > .hierarchy-toggle::before {
  color: #0072BC;
}

ul.hierarchy-tree-top.has-toggle .open > .hierarchy-toggle::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f06c";
  color: rgb(153, 153, 153);
}

.secondary ul.hierarchy-tree-top.has-toggle .open > .hierarchy-toggle::before {
  color: #fff;
}

ul.hierarchy-tree-top.has-toggle .open > .hierarchy-toggle:hover::before {
  color: #0072BC;
}

.secondary ul.hierarchy-tree-top.has-toggle .open > .hierarchy-toggle:hover::before {
  color: #fff;
}

ul.hierarchy-tree-top.has-toggle .open.highlighted > .hierarchy-toggle::before {
  color: #fff;
}

.secondary ul.hierarchy-tree-top.has-toggle .open.highlighted > .hierarchy-toggle::before {
  color: #0072BC;
}
