{% ckan_extends %}
{% block primary_content_inner %}

  <legend>{{ _('Change details') }}</legend>

  <div class="alert warning">
    RIDL uses details from your UNHCR Active Directory account for authorization. If you need to change your password or user name please do so in Active Directory.
  </div>

  <div class="form-actions">
    {% block delete_button %}
      {% if h.check_access('user_delete', {'id': c.user_dict.id})  %}
        <a class="btn btn-danger pull-left" href="{% url_for controller='user', action='delete', id=c.user_dict.id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this User?') }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
      {% endif %}
    {% endblock %}
    {% block generate_button %}
      {% if h.check_access('user_generate_apikey', {'id': c.user_dict.id})  %}
        <a class="btn btn-warning" href="{% url_for controller='user', action='generate_apikey', id=c.user_dict.id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to regenerate the API key?') }}">{% block generate_button_text %}{{ _('Regenerate API Key') }}{% endblock %}</a>
      {% endif %}
    {% endblock %}
  </div>

{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="fa fa-medium fa-info-circle"></i> {{ _('Account Info') }}</h2>
    <div class="module-content">
    </div>
  </section>
{% endblock %}
