{% ckan_extends %}

{% block form %}
  {% snippet "user/snippets/login_form.html", action="/ldap_login_handler", error_summary=error_summary %}
{% endblock %}


{% block secondary_content %}

  <h2 class="module-heading">{{ _('Log in to the RIDL site') }}</h2>
  <section class="module module-narrow module-shallow">
    <div class="module-content">
      <p>{% trans %}To log in, please use your UNHCR Active Directory user name and password.{% endtrans %}</p>
    </div>
  </section>

{% endblock %}
