<div id="field-resource-type" data-module="resource-type" data-module-value="{{ data[field.field_name] }}" style="display: none">
  <h3>What kind of file do you want to upload?</h3>
  <div>
    <div class="col-md-6">
      <button class="btn btn-info btn-data">Data file</button>
      <p><small>Files containing the actual data. Common formats include CSV or Excel</small></p>
    </div>
    <div class="col-md-6">
      <button class="btn btn-info btn-attachment">File attachment</button>
      <p><small>Companion files related to the data. For instance PDFs or Microsoft Word reports, Images, etc</small></p>
    </div>
  </div>
  <input name="type" type="hidden"></input>
</div>
