{% ckan_extends %}
{% set stats = h.get_site_statistics() %}
{% set intro = g.site_intro_text %}

{% block bodytag %} {{ super() }} class="home"{% endblock %}

{% block content %}
  <div class="homepage layout-{{ homepage_style }}">
    <div class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}
    <div role="main" class="hero">
      <div class="container">
        {% block search %}
        {% set tags = h.get_facet_items_dict('tags', limit=3) %}

        <div class="module module-search module-narrow module-shallow box">
          <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
            <h3 class="heading">{{ _("Search the library of") }} {{ h.SI_number_span(stats.dataset_count) }}
          {{ _('dataset') if stats.dataset_count == 1 else _('datasets') }}</h3>
            <div class="search-input form-group search-giant">
              <input id="field-main-search" type="text" class="form-control" name="q" value="" autocomplete="off" placeholder="Search keywords, metadata, version data etc." />
              <button type="submit">
                <i class="fa fa-search"></i>
                <span class="sr-only">{{ _('Search') }}</span>
              </button>
            </div>
          </form>
          <div class="tags">
            <h3>{{ _('Popular tags') }}</h3>
            {% for tag in tags %}
              <a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
            {% endfor %}
          </div>
        </div>
        {% endblock %}

        <div>
          {% if intro %}
            {{ h.render_markdown(intro) }}
          {% else %}
            <h2>{{ _("The Raw Internal Data Library is UNHCR’s secure globally-supported space for indexing, versioning and storing data that is collected or managed outside of the corporate data systems.") }}</h2>
            <p>
              {% trans %}Keeping and reusing raw data is important to create baselines for indicators and population data, new analytical products, updating maps, monitoring partner data management capacity, developing targeting models, cleaning data, and auditing previous analysis results. This includes most of UNHCR’s protection assessment and monitoring data, as there are no corporate systems for anonymized or personally identifiable operational microdata.{% endtrans %}
            </p>
            <p>
              {% trans %}RIDL supports datasets that are still changing and being versioned, in addition to those that are final and will no longer be changed and can be considered the “official” versions for a particular information management project.{% endtrans %}
            </p>
          {% endif %}
        </div>

      </div>
    </div>
    {% endblock %}
  </div>
{% endblock %}
