.flash-messages {
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0;

  & .alert {
    border-radius: 0;
    border: none;
    text-shadow: none;
    box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.3);

    & .close {
      text-shadow: none;
    }

    &.alert-success,
    &.alert-info {
      background-color: var(--warning-colour);
      color: var(--heading-colour);
    }

    &.alert-danger,
    &.alert-error {
      background-color: var(--danger-colour);
      color: #fff;

      & .close {
        color: #fff;
      }
    }
  }
}
