@font-face {
  font-family: 'icomoon';
  src:  url('../../../fonts/icomoon.eot?jkp7ax');
  src:  url('../../../fonts/icomoon.eot?jkp7ax#iefix') format('embedded-opentype'),
    url('../../../fonts/icomoon.ttf?jkp7ax') format('truetype'),
    url('../../../fonts/icomoon.woff?jkp7ax') format('woff'),
    url('../../../fonts/icomoon.svg?jkp7ax#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@define-mixin icon-font {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@define-mixin icon-database {
  content: "\f096";
}
@define-mixin icon-package {
  content: "\f0c4";
}
@define-mixin icon-search {
  content: "\f02e";
}
@define-mixin icon-directory {
  content: "\f016";
}
@define-mixin icon-file {
  content: "\f011";
}
@define-mixin icon-gear {
  content: "\f02f";
}
@define-mixin icon-list {
  content: "\f061";
}
@define-mixin icon-add {
  content: "\f06b";
}
@define-mixin icon-remove {
  content: "\f06c";
}
@define-mixin icon-user {
  content: "\f018";
}
@define-mixin icon-question {
  content: "\f02c";
}
@define-mixin icon-chevron-down {
  content: "\f0a3";
}
@define-mixin icon-chevron-right {
  content: "\f078";
}

.fa-filter:before {
  @mixin icon-font;
  @mixin icon-list;
}

.fa-search:before {
  @mixin icon-font;
  @mixin icon-search;
}

.fa-sitemap:before {
  @mixin icon-font;
  @mixin icon-database;
}

.fa-building-o:before {
  @mixin icon-font;
  @mixin icon-package;
}

.fa-users:before {
  @mixin icon-font;
  @mixin icon-directory;
}

.fa-caret-square-o-down:before {
  @mixin icon-font;
  @mixin icon-chevron-down;
}

.fa-caret-square-o-right:before {
  @mixin icon-font;
  @mixin icon-chevron-right;
}
