.site-footer {
  background-color: var(--black);
  color: rgba(255,255,255, 0.8);
  margin-left: -20px;
  margin-right: -20px;
  padding: 0;
  position: relative;
  min-height: 0;

  & .attribution {
    position: absolute;
    bottom: 15px;
    left: -10px;
    z-index: 1;
    background-color: var(--primary-colour);
    border-radius: 3px;
    padding: 10px;

    & span {
      display: block;
      font-size: 12px;
      line-height: 1;
    }

    & .ckan-footer-logo {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left bottom;
      opacity: 0.8;
      
      &:hover {
        opacity: 1;
      }
    }
  }
}
