input[type=radio],
input[type=checkbox] {
  position: relative;
  top: 0;
  padding: 0;
  margin: 0;
  &.checkbox-onown {
    top: 0;
  }
}

i {
  margin-right: 5px;
}

.resource_type {
  margin-top: 20px;

  & > p {
    margin-top: 5px;
  }
}
