body {
  /* for IE */
  display: flex;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

[role="main"] {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  & > .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & > .wrapper {
      flex-grow: 1;
    }
  }
}
