.login-splash {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: color(var(--primary-colour) shade(20%));
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;

  & .prompt {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    background-color: var(--primary-colour);
    padding: 20px;
    border-radius: 6px;

    & img {
      margin-bottom: 20px;
    }

    & h2 {
      color: white;
    }
  }

  & .info {
    position: absolute;
    top: 0;
    right: 0;
    left: 20px;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    z-index: 1;

    @media (--landscape-tablet-up) {
      left: auto;
      width: 50vw;
    }
    @media (--desktop-up) {
      width: 33vw;
    }

    & .content {
      background-color: var(--white);
      padding: 20px;
      margin-top: 20px;
      border-radius: 6px;
      display: none;
      margin-right: 50px;

      & h1,
      & h2,
      & h3,
      & h4 {
        line-height: 1.3;
      }
    }

    & .toggle {
      padding: 25px 15px;
      float: right;

      & a {
        text-decoration: none;
        cursor: pointer;
        opacity: 0.5;

        &:hover {
          opacity: 0.75;
        }
      }

      & .icon {
        color: var(--white);

        &::before {
          @mixin icon-font;
          @mixin icon-question;
          font-size: 1.5em;
        }
      }

      & .text {
        display: none;
      }
    }

    &.active {
      & .content {
        display: block;
      }
      & .toggle a {
        opacity: 1;
      }
    }
  }

  & .site-footer {
    position: fixed;
    bottom: 0;
    left: 15px;

    @media (--portrait-tablet-up) {
      left: 40px;
    }
  }
}
