body,
.account-masthead,
.masthead,
[role="main"],
.main,
.site-footer {
  background-image: none;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--body-bg);
  color: var(--body-colour);
  overflow-x: hidden;
  font-size: 15px;
}

[role="main"],
.main {
  padding: 0;
  min-height:0;
}

[role="main"] {

  & > .container {

    & > .wrapper {
      margin-bottom: 0;
    }
  }
}

.module-content {
  @media (--portrait-tablet-up) {
    padding-left: 0;
    padding-right: 0;
  }
}

code {
  color: inherit;
}

input,
button,
select,
textarea {
  font-family: var(--font-family-base);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-colour);
}

a {
  color: var(--primary-colour);

  &:hover {
    color: var(--primary-colour);
  }
}

@define-mixin btn-colour $bg, $col: #fff, $bor: $bg {
  background-color: $bg;
  color: $col;
  border-color: $bor;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    background-color: color($bg tint(20%));
    color: $col;
    border-color: $bor;
  }
}

.btn {
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  @mixin btn-colour var(--white), var(--black-80), var(--black-20);
}

.btn-primary {
  @mixin btn-colour var(--primary-colour);
}
.btn-success {
  @mixin btn-colour var(--success-colour), var(--black);
}
.btn-info {
  @mixin btn-colour var(--info-colour);
}
.btn-warning {
  @mixin btn-colour var(--warning-colour), var(--black);
}
.btn-danger {
  @mixin btn-colour var(--danger-colour);
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: color(var(--primary-colour) tint(20%));
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: color(var(--primary-colour) tint(20%));
  background-image: none;
}

.navbar {
  & .container {
    @media (--portrait-tablet-up) {
      width: 724px;
    }
    @media (--landscape-tablet-up) {
      width: 940px;
    }
  }

  & .nav > .active {
    & > a,
    & > a:hover,
    & > a:focus {
      box-shadow: none;
    }
  }
}

.wrapper {
  box-shadow: none;
  background-image: none;
  border-radius: 0;
  border: none;
  background-color: transparent;
}

.label,
.badge {
  text-shadow: none;
  font-weight: normal;
}

.account-masthead .account .notifications a:hover span.text {
  background-color: transparent;
}

a.tag:hover {
  background-color: var(--primary-colour);
  border-color: var(--primary-colour);
}
